# Android Studio specific
.idea/
*.iml

# Gradle specific
.gradle/
build/

# Local configuration file (sdk path, etc)
local.properties

# Log files
*.log

# Android specific
/captures/
/output.json

# Miscellaneous
.DS_Store